version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: pg_container
    restart: always
    environment:
      POSTGRES_USER: my_user          
      POSTGRES_PASSWORD: 1111  
      POSTGRES_DB: Booking_db   
    ports:
      - "5433:5432" 
    volumes:
      - pg_data:/var/lib/postgresql/data 

  redis:
    image: redis:7-alpine
    container_name: redis_container
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
  
  mongo:
    image: mongo:7.0
    container_name: mongo_container_1
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  
  adminer:  
    image: adminer:latest
    container_name: adminer_container
    restart: always
    ports:
      - "8080:8080"  
  
  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_commander
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis

volumes:
  pg_data:
  redis_data:
  mongo_data: